<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/profile.css">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
          <img src="/images/IMG_0976.jpeg" alt="profile">
        </div>
        <div class="content">
          <div class="details">
            <h2><%= user.fullname %><br><span><%= user.username %></span></h2>
            <div class="data">
              <h3>342<br><span>Posts</span></h3>
              <h3>120k<br><span>Followers</span></h3>
              <h3>285<br><span>Following</span></h3>
            </div>
            <div class="actionBtn">
              <a href="/logout" class="logout">Logout</a>
              <a href="/feed" class="Feed">Feed</a>
              <form action ="/upload" method="POST" enctype="multipart/form-data">
                <input type="text" name="filecaption" placeholder="Some Caption">
                <input type="file" name="file">
                <button type="submit"> Upload</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h2 class="section-title">Your Posts</h2>
        <div class="cards"> 
            <% user.posts.forEach(function(post) { %>
                <div class="card" style="width:18rem;">
                    <img src="/images/uploads/<%= post.image %>" alt="Uploaded Image">
                    <div class ="card-body">
                      <h5 class="card-title"><%=post.imageText %></h5>
                    </div>
                </div>
            <% }) %>
        </div>
      </div>
</body>
</html>
